body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #3d3d3d;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .folha {
    background-image: url(assets/Background_one_page.jpeg);
    background-repeat: round;
    background-size: contain;
    width: 800px;
    height: 1000px;
    border: 2px solid #ccc;
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    margin: 50px;
  }
  
  .conteudo {
    text-align: center;
  }
  
  h1 {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    -webkit-text-stroke: 1px #000;
  }
  
  p {
    color: #fff;
  }

  p:hover{
    scale: 1.1;
  }

  .personagem img:hover{
    scale: 1.1;
  }

  .historia{
    margin-top: 120px;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .historia p{
    font-weight: 400;
    font-size: small;
  }

  #notebook{
    width: 200px;
    margin-top: 40px;
  }

  #alvaroDeCostas{
    position:absolute;
    margin-top: 280px;
  }


  
  @media screen and (max-width: 600px) {
    

    .folha {
      width: 100%;
      height: 850px;
      margin: 0;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    .personagem{
        margin-bottom: 30px;
    }
    
    .personagem img{
        width: 50px;
    }

    .historia{
        margin-top: 50px;
        align-items: center;
        display:inline;
      }

    #p2{
        display: none;
    }

    #notebook{
        width: 200px;
        margin-top: 0px;
    }

    #alvaroDeCostas {
        margin-top: 350px;
    }

  }
  